body
{
    background-color:rgb(28, 25, 40);
    font-family:'Times New Roman', Times, serif;
    color:rgba(255, 255, 255, 0.714);
}

#container
{
max-width:1000px;
margin:0 auto;
margin-left:auto;
margin-right:auto;

}

#menu
{
    float:left;
background-color: rgb(100, 98, 98);
margin-top:20px;
color:white;
padding:10px;
width:250px;
height:300px;
}

#title
{
    align-items: center;
    font-size:30px;
    font-weight: bold;
    color: black;
    background-color: darkgray;
    text-align: center;
}

#content
{
    font-size:16px;
    text-align:justify; 
    width:499 px; 
    min-height:500px;
}

#formularz
{
width:700;
padding:10px;
border: 5px dotted #48b848;
}

h1
{
    font-size:30px;
    font-style:bold;
}

.option
{
min-width: 50px;
height:30px;
font-size: 19px;
padding:10px;
}

a:link
{
    color:darkblue;

}

a:visited
{
    color:darkblue;

}

a:hover
{
    color:blue;
 
}

